<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="confirm.css" th:href="@{/css/confirm.css}"/>
    <title>自己紹介入力画面</title>
</head>
<body>
<header>
    <div class="logo-container">
        <img src="/img/company.png"/>
        <h2 class="letter">JavaTeamDevelopment</h2>
    </div>
</header>
<main>
    <h2 class="confirm-title">自己紹介登録確認</h2>
    <div class="main-container">
        <div class="confirm-container">
            <div th:object="${introductionForm}">
                <div class="name-container">
                    <p>名前</p>
                    <div class="wrapper">
                        <p th:text="*{name}"></p>
                    </div>
                </div>

                <div class="kana-container">
                    <p>フリガナ</p>
                    <div class="wrapper">
                        <p th:text="*{kana}"></p>
                    </div>
                </div>

                <div class="gender-container">
                    <p>性別</p>
                    <div class="wrapper">
                        <p th:text="*{gender}"></p>
                    </div>
                </div>

                <div class="hobby-container">
                    <p>趣味</p>
                    <div class="wrapper">
                        <p th:each="hobby : *{hobbies}" th:text="${hobby} + ','"></p>
                    </div>
                </div>

                <div class="word-container">
                    <p>一言</p>
                    <div class="wrapper">
                        <p th:text="*{word}"></p>
                    </div>
                </div>

                <div class="btn-container">
                    <form th:action="@{/confirm/introduce}" method="post">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{kana}"/>
                        <input type="hidden" th:field="*{gender}"/>
                        <input type="hidden" th:field="*{hobbies}"/>
                        <input type="hidden" th:field="*{word}"/>
                        <button type="submit" value="戻る" class="btn">戻る</button>
                    </form>

                    <form th:action="@{/confirm/complete}" method="post">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{kana}"/>
                        <input type="hidden" th:field="*{gender}"/>
                        <input type="hidden" th:field="*{hobbies}"/>
                        <input type="hidden" th:field="*{word}"/>
                        <button type="submit" value="登録" class="btn2">登録</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>