<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/LoginCss/login_style.css}" />
	<title>Login</title>
</head>

<body>
	<!-- header -->
	<header>
		<div class="logo-container">
			<img src="LoginCss/cdbf3d0d-9ac8-414c-9076-c6e6b9f50068.png" alt="" />
			<h2 class="letter">JavaTeamDevelopment</h2>
		</div>
	</header>
	<!-- main  -->
	<main>
		<h2 class="login-title">ログイン</h2>
		<!-- formタグ　postで定義-->
		<form th:action="@{/user-create}" th:object="${UserBean}" method="post">
			<tr th:if="${validationError}" th:each="error : ${validationError}">
				<div class="main-container">
					<div class="input-details">
						<div class="user-id-container">
							<p th:if="${#fiels.hasErrors('id')}" style="color:red" th:text="${error}"></p>
							<p>User ID</p>
							<input type="text" class="text" />
						</div>
						<div class="password-container">
							<p>PassWord</p>
							<p th:if="${#fiels.hasErrors('password')}" style="color:red" th:text="${error}"></p>
							<input type="text" class="text" />
						</div>
						<input type="button" value="登録" class="btn" />
						<li>
							<a href="/register" class="create-new-account">新規会員登録はこちら</a>
						</li>
					</div>
				</div>
		</form>
	</main>
</body>

</html>